.game > img {
  vertical-align: middle;
}
.game > .selectedArea {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
}
.game > .selectedArea > .correct {
  padding: 0.5rem;
  background-color: lightgreen;
  border-radius: 12px;
  font-size: 1.1rem;
}
.game > .selectedArea > .incorrect {
  padding: 0.5rem;
  background-color: red;
  border-radius: 12px;
  font-size: 1.1rem;
}
.game > .selectedArea > .circle {
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid black;
  border-radius: 50%;
}
.game > .selectedArea > .characters {
  padding-left: 0.5rem;
  list-style: none;
}
.game > .selectedArea > .characters > .character > button {
  cursor: pointer;
  font-size: 1.1rem;
}

.charactersPreview {
  position: fixed;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0);

  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}
.charactersPreview > div {
  display: grid;
  justify-items: center;
}
.charactersPreview > div > .characterPreview {
  height: 5rem;
}

@media screen and (max-width: 600px) {
  .charactersPreview > div > .characterPreview {
    height: 3rem;
  }
}
